<!DOCTYPE html>
<html>
  <head>
    <title>Espresso!</title>
    <link rel='stylesheet' href='/css/style.css'/>
  </head>
  <body>
    <h1>Espresso!</h1>
    <p>Welcome to Espresso!</p>
    <!--div class="content"><div-->
    <script type="text/javascript" src="/js/bundle.js"></script>
  </body>
</html>
