<!DOCTYPE html>
<html>
  <head>
    <title>Espresso!</title>
    <script src="/js/vendor.bundle.js"></script>
    <script src="/js/bundle.js"></script>
  </head>
  <body>
    <h1>Espresso!</h1>
    <p>Welcome to Expresso!!!</p>
    <div id="content"><div>
  </body>
</html>
