<!DOCTYPE html>
<html>
  <head>
    <title>Espresso!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Espresso!</h1>
    <p>Welcome to Espresso!</p>
    <div class="content"><div>
    <script type="text/javascript">
      window.onload = function () {
        var logsArr = <%- logsArr %>;

        console.log(logsArr);
      }
    </script>
  </body>
</html>
